<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyOwnPomProject">

<listeners>
<listener class-name="com.crm.qa.extentreportlisteners.ExtentReportListener"/>
</listeners>

  <test name="My Own POM Project Test Cases">
    <classes>
      <class name="com.crm.qa.testcases.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
